$title-color : #010101;
$black-color : #000000;
$decorate-color : #626dfc;
$gray-color : #9f9f9f;
$logo-color : #454545;
$soc-icon-bck : #eeeeee;
$btn-load-bck : #eeeeee;
$soc-icon-color : #646464;
$footer-border-color : #f6f6f6;
$soc-icon-padding : 5px 5px;
$facebook-icon-padding : 5px 8px;
$footer-info-margin : 10px 0px;
$footer-link-margin : 4px 0px;
$page-info-margin : 30px 0px;
$load-btn-wrapper-margin : 50px 0px;
$load-btn-padding : 10px 44px;
$article-margin : 10px 5px;
$post-img-margin : 10px 0px;
