
$footer-text-color :#fbf7ff;

$cv-text-margin : 10px 10px;
$cv-text-padding : 5px 5px;

$cv-avatar-margin : 20px;
$cv-avatar-padding : 0px;

//$cv-name-color : #fd8dff;
$cv-name-text-size : 32px;

//$cv-desc-color : #e37712;
$cv-desc-text-size : 20px;

$cv-card-background-color : white;
$cv-card-border-radius : 30px;
$cv-card-border-width : 0px;
$cv-card-border-color : black;

$cv-avatar-border-color : #ad5389;
$cv-avatar-border-radius : 50%;
$cv-avatar-border-width : 5px;
$cv-avatar-width : 200px;
$cv-avatar-height : 200px;

$soc-btns-margin : 10px 10px;
$soc-btns-padding : 10px 10px;
$soc-btns-border-radius : 50px;
$soc-btns-border-width : 0px;
$soc-btns-border-color : black;

$icons-text-color : #fbf7ff;
$vk-background-color : #a1c2ff;
$instagram-background-color : #dd6dff;
$facebook-background-color : #6179ff;
